<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="negocios">
            <ion-icon name="contacts"></ion-icon>
            <ion-label>Negocios</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="speakers">
            <ion-icon name="beer"></ion-icon>
            <ion-label>Amigos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="schedule">
            <ion-icon name="home"></ion-icon>
            <ion-label>Principal</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map">
            <ion-icon name="star"></ion-icon>
            <ion-label>Promos</ion-label>
        </ion-tab-button>

        <!-- <ion-tab-button tab="about">
            <ion-icon name="compass"></ion-icon>
            <ion-label>Descubrir</ion-label>
        </ion-tab-button> -->
    </ion-tab-bar>

</ion-tabs>