<ion-header no-border>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div>
            <ion-title text-center>Mis Amigos</ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="outer-content" color=light>
    <ion-segment [(ngModel)]="segment" (ionChange)="actualizarSegment()">

        <ion-segment-button value="amigos">
            <h6>Mis BeerAmigos</h6>
        </ion-segment-button>
        <ion-segment-button value="grupos">
            <ion-badge id="notifications-badge" color="danger">
                <ion-text color="danger">.</ion-text>
            </ion-badge>
            <h6>Grupos</h6>
        </ion-segment-button>
    </ion-segment>
    <!-- List of Text Items -->
    <div text-center>

        <h5 *ngIf="amigos">BeerAmigos</h5>
        <h5 *ngIf="!amigos">BeerGrupos</h5>
    </div>
    <div *ngIf="amigos">
        <ion-card class="altura_tarjeta" *ngFor="let detectado of speakers" [hidden]="completo!='true'">

            <ion-row>
                <ion-col size="10">

                    <ion-card-header class="altura_cabecera">
                        <ion-row>
                            <ion-col size="4">
                                <!--<ion-item detail="false" lines="none">-->
                                <ion-avatar>
                                    <img [src]="URLavatar + detectado.foto_perfil" alt="Persona">
                                </ion-avatar>
                            </ion-col>
                            <ion-col style="margin-top: 18px">
                                <ion-row>
                                    <h4>
                                        <ion-text color="primary"><strong> {{detectado.Nombres}}</strong></ion-text>
                                    </h4>
                                </ion-row>
                                <ion-row>
                                    <ion-text>{{detectado.Telefono}} | {{detectado.Direccion}}</ion-text>
                                </ion-row>
                                <!--    <ion-row>
                                                <ion-text>
                                                    {{detectado.Identificacion}}
                                                </ion-text>
                                            </ion-row> -->
                            </ion-col>
                            <!--</ion-item>-->
                        </ion-row>
                    </ion-card-header>
                    <!--
                                                        <ion-card-content>
                                                            <div text-center class="ion-padding custom-skeleton">
                                                                <ion-row>
                                                                    <ion-col>
                                                                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                                                                        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                                                                    </ion-col>
                                                                    <ion-col>
                                                                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                                                                        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                                                                    </ion-col>
                                                                    <ion-col>
                                                                        
                                                                    </ion-col>
                                                                </ion-row>
                                                            </div>
                                                        </ion-card-content>
            -->
                </ion-col>

            </ion-row>



        </ion-card>
    </div>


</ion-content>