.scroll {
    background: #ededed;
}

.speaker-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.altura_tarjeta {
    height: 139px;
    border-radius: 17px;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0px 4px 11px #d4d4d4;
}

.speaker-card ion-card-header {
    padding: 0;
}

.speaker-card ion-card-header .item {
    padding: 4px 16px;
}

.speaker-card ion-card-content {
    flex: 1 1 auto;
    padding: 0;
}