<ion-header no-border>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title text-center>
            <h4><strong>Negocios</strong>
                <ion-icon name="arrow-dropdown"></ion-icon>
            </h4>

        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>