$categories: ( ionic: var(--ion-color-primary), angular: #ac282b, communication: #8e8d93, tooling: #fe4c52, services: #fd8b2d, design: #fed035, workshop: #69bb7b, food: #3bc7c4, documentation: #b16be3, navigation: #6600cc);
.map-canvas {
    height: 100%;
    width: 100%;
    background-color: transparent;
    opacity: 0;
    transition: opacity 150ms ease-in;
}

.transparent-card {
    background-color: transparent;
    border-radius: 25px 25px;
    height: 290px;
    box-shadow: 0px 4px 11px #d4d4d4;
}

#gmap {
    height: 100%;
    width: 100%;
    transition: opacity 150ms ease-in;
}

.aDondeIr {
    background-image: url("assets/img/route.png");
    background-color: #10dc60;
    border-radius: 15px 15px;
    border: 1px solid #10dc60;
    //box-shadow: none;
    height: 210px;
}

.tarjetitaPrincipal {
    border-radius: 25px 25px;
    box-shadow: 5px;
    height: 125px;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0px 4px 11px #d4d4d4;
}

.evento1 {
    background-color: #1091dc;
    border-radius: 15px 15px;
    border: 1px solid #1091dc;
    height: 90px;
    box-shadow: 0px 4px 11px #d4d4d4;
}

.evento2 {
    background-color: #dc5b10;
    border-radius: 15px 15px;
    border: 1px solid #dc5b10;
    box-shadow: none;
    height: 90px;
}

.evento3 {
    background-color: #4610dc;
    border-radius: 15px 15px;
    border: 1px solid #4610dc;
    box-shadow: none;
    height: 90px;
}

.evento4 {
    background-color: #DA1302;
    border-radius: 15px 15px;
    border: 1px solid #DA1302;
    box-shadow: none;
    height: 90px;
}

.evento5 {
    background-color: #6BB606;
    border-radius: 15px 15px;
    border: 1px solid #6BB606;
    box-shadow: none;
    height: 90px;
}

.evento6 {
    background-color: #D021FF;
    border-radius: 15px 15px;
    border: 1px solid #D021FF;
    box-shadow: none;
    height: 90px;
}

.avatar_img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.eventoIcon {
    text-align: center;
    padding: 5% 0px 0px 0px;
    font-size: 60px
}

.lock-icon {
    text-align: center;
    padding: 32px 0px 0px 0px;
    font-size: 81px
}

@each $track,
$value in map-remove($categories) {
    ion-item-sliding[track='#{$track}'] ion-label {
        border-left: 2px solid $value;
        padding-left: 10px;
    }
}


/* Stories */

.story {
    white-space: nowrap;
    overflow-x: auto;
    height: 135px;
}

.story_scroll {
    display: inline-block;
    width: 70px;
    margin: 8px;
    overflow-x: auto;
}

.story_img_bg {
    width: 70px;
    padding: 2px;
    border-radius: 10%;
    padding-bottom: 0;
    transition: all 1s;
    -webkit-transition: all 0.2s;
}

.story_img_bg:active {
    background: -webkit-linear-gradient(left top, rgb(102, 0, 204), rgb(146, 37, 255));
    transform: scale(1.1);
}

.story_img {
    width: 70px;
    border-radius: 10%;
    border: rgb(102, 0, 204), 2px solid;
}

.story_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px
}