<ion-header no-border>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title (click)="seleccionDireccion()" text-center>
            <h4><strong>Inicio</strong>
                <ion-icon name="arrow-dropdown"></ion-icon>
            </h4>

        </ion-title>

        <!-- <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
            <ion-segment-button value="all">
                All
            </ion-segment-button>
            <ion-segment-button value="favorites">
                Favorites
            </ion-segment-button>
        </ion-segment> -->

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="options"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <!--    <ion-toolbar color="light">
        <ion-searchbar color="tertiary" no-border [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Search"></ion-searchbar>
    </ion-toolbar> -->
</ion-header>
<ion-content color="light">
    <ion-card class="tarjetitaPrincipal">


        <ion-item>

            <img slot="start" [src]="URLAvatar + user.datos.foto_perfil" class="avatar_img" [alt]="user.datos.Nombres + user.datos.Apellidos">
            <h3>
                <ion-text>¡Hola, <strong>{{user.datos.Nombres}}</strong>!</ion-text>
            </h3>
            <!-- <ion-button fill="outline" slot="end">Ver Perfil</ion-button> -->
        </ion-item>

        <ion-item lines="none">
            <ion-grid>
                <ion-row color="light">
                    <ion-col size="2">

                    </ion-col>
                    <ion-col size="3">
                        <ion-icon name="ribbon"></ion-icon>
                        {{user.datos.Puntos}}
                    </ion-col>
                    <ion-col size="3">
                        <ion-icon name="contacts"></ion-icon>
                        2
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

    </ion-card>
    <div text-center>
        <ion-list-header text-center>

            <ion-text color="tertiary">- EVENTOS EN BOGOTÁ -</ion-text>
        </ion-list-header>
    </div>
    <div>

        <ion-row>
            <ion-col size="4">
                <ion-card (click)="evento1()" class="evento1">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12">
                                <div class="eventoIcon" padding>
                                    <ion-icon color="light" name="clock"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col>

                                <ion-card-content>
                                </ion-card-content>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
                <h6 text-center>
                    <ion-text color="dark"><strong>Gran Fiesta de amor y amistad</strong></ion-text>
                </h6>
            </ion-col>
            <ion-col size="4">

                <ion-card (click)="evento2()" class="evento2">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12">
                                <div class="eventoIcon" padding>
                                    <ion-icon color="light" name="clock"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col>

                                <ion-card-content>
                                </ion-card-content>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
                <h6 text-center>
                    <ion-text color="dark"><strong>Evento2</strong></ion-text>
                </h6>
            </ion-col>
        </ion-row>
        <!--  <ion-row>
            <ion-col (click)="evento4()" size="4">
                <ion-card class="evento4">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12">
                                <div class="eventoIcon" padding>
                                    <ion-icon color="light" name="clock"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col>


                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
                <h6 text-center>
                    <ion-text color="dark"> <strong>Evento4</strong></ion-text>
                </h6>
            </ion-col>
            <ion-col size="4">
                <ion-card (click)="evento5()" class="evento5">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12">
                                <div class="eventoIcon" padding>
                                    <ion-icon color="light" name="clock"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col>


                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
                <h6 text-center>
                    <ion-text color="dark"><strong>Evento5</strong></ion-text>
                </h6>
            </ion-col>
            <ion-col size="4">
                <ion-card (click)="evento6()" class="evento6">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12">
                                <div class="eventoIcon" padding>
                                    <ion-icon color="light" name="clock"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col>


                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
                <h6 text-center>
                    <ion-text color="dark"><strong>Evento6</strong></ion-text>
                </h6>
            </ion-col>
        </ion-row> -->
    </div>

    <div text-center>
        <ion-list-header text-center>

            <ion-text color="tertiary">- ¿DÓNDE ESTOY? -</ion-text>
        </ion-list-header>
    </div>

    <ion-card *ngIf="ubicacion.latitud && ubicacion.longitud" class="transparent-card">
        <div #mapCanvas id="gmap" style="height:298px;"></div>
    </ion-card>

    <div text-center>
        <ion-list-header text-center>

            <ion-text color="tertiary">- PARA USUARIO1 -</ion-text>
        </ion-list-header>
    </div>
    <div class="story" scrollX="true">

        <div class="story_scroll" *ngFor="let s of stories">
            <div class="story_img_bg">
                <img no-margin no-padding class="story_img" [src]="s.img"></div>
            <h6 no-margin no-padding text-center class="story_text" color="light">
                <ion-text color="dark">{{ s.user_name }}</ion-text>
            </h6>
        </div>
    </div>

    <!--  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
        <ion-fab-button>
            <ion-icon name="share"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="vimeo" (click)="openSocial('Vimeo', fab)">
                <ion-icon name="logo-vimeo"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="google" (click)="openSocial('Google+', fab)">
                <ion-icon name="logo-googleplus"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="twitter" (click)="openSocial('Twitter', fab)">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="facebook" (click)="openSocial('Facebook', fab)">
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab> -->
</ion-content>