<ion-content>

    <div *ngIf="registro.RTARegistro.mensaje!='OK'" class="limiter">
        <div class="container-login100" style="background-image: url('assets/img/bg-01.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span padding class="login100-form-title p-b-41">
            <h1>Registro | Usuario</h1>
          </span>
                <form #signupForm="ngForm" novalidate class="login100-form validate-form p-b-33 p-t-5">
                    <div text-center padding>
                        <h5>
                            Regístrate con tus datos de:
                        </h5>

                    </div>
                    <ion-grid text-center padding>
                        <ion-row>
                            <ion-col size="3">

                            </ion-col>
                            <ion-col size="3">
                                <ion-button class="boton-redes" fill="clear" color=facebook>
                                    <img src="assets/img/facebook.png" width="85px" alt="FACEBOOK">
                                </ion-button>
                            </ion-col>
                            <ion-col size="3">
                                <ion-button class="boton-redes" fill="clear" color=light>
                                    <img src="assets/img/icon-google.png" alt="GOOGLE">
                                </ion-button>
                            </ion-col>
                            <ion-col size="3">

                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <div text-center padding>
                        <h5>
                            - O -
                        </h5>

                    </div>
                    <ion-list lines="none" class="list-md">
                        <ion-item>
                            <div padding class="wrap-input100 validate-input" data-validate="Nombres">
                                <input [(ngModel)]="signup.name" name="name" #name="ngModel" class="input100" type="text" name="username" placeholder="Nombres" required>
                                <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                            </div>
                        </ion-item>
                        <ion-text color="danger">
                            <p [hidden]="name.valid || submitted == false" class="ion-padding-start">
                                El campo es requerido
                            </p>
                        </ion-text>
                        <ion-item>
                            <div class="wrap-input100 validate-input" data-validate="Apellidos">
                                <input [(ngModel)]="signup.surname" name="surname" #surname="ngModel" name="surname" class="input100" type="text" placeholder="Apellidos" required>
                                <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                            </div>
                        </ion-item>
                        <ion-text color="danger">
                            <p [hidden]="surname.valid || submitted == false" class="ion-padding-start">
                                El campo es requerido
                            </p>
                        </ion-text>
                        <ion-item>
                            <div class="wrap-input100 validate-input" data-validate="Identificacion">
                                <input [(ngModel)]="signup.ID" #ID="ngModel" class="input100" type="number" name="ID" placeholder="Identificacion" required>
                                <span class="focus-input100" data-placeholder="&#xe803;"></span>
                            </div>
                        </ion-item>
                        <ion-text color="danger">
                            <p [hidden]="ID.valid || submitted == false" class="ion-padding-start">
                                El campo es requerido
                            </p>
                        </ion-text>
                        <ion-item>
                            <div class="wrap-input100 validate-input" data-validate="Celular">
                                <input [(ngModel)]="signup.celular" #celular="ngModel" class="input100" type="number" name="celular" placeholder="Número de celular" required>
                                <span class="focus-input100" data-placeholder="&#xe83a;"></span>
                            </div>
                        </ion-item>
                        <ion-text color="danger">
                            <p [hidden]="celular.valid || submitted == false" class="ion-padding-start">
                                El campo es requerido
                            </p>
                        </ion-text>
                        <ion-item>
                            <div class="wrap-input100 validate-input" data-validate="Correo">
                                <input [(ngModel)]="signup.email" #email="ngModel" class="input100" type="email" name="email" placeholder="Correo electrónico" required>
                                <span class="focus-input100" data-placeholder="&#xe818;"></span>
                            </div>
                        </ion-item>
                        <ion-text color="danger">
                            <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
                                El campo es requerido
                            </p>
                        </ion-text>
                        <ion-item>
                            <div class="wrap-input100 validate-input" data-validate="Contraseña">
                                <input [(ngModel)]="signup.password" name="password" class="input100" type="password" name="password" placeholder="Contraseña">
                                <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                            </div>

                        </ion-item>

                        <div class="DivPadd" padding text-center>
                            <ion-button (click)="onSignup(signupForm)" type="submit" expand="full" shape="round">
                                <ion-icon color="light" name="log-in"></ion-icon> Regístrate
                            </ion-button>
                        </div>




                    </ion-list>

                </form>
            </div>
        </div>
    </div>

    <div *ngIf="registro.RTARegistro.mensaje=='OK'" class="limiter">
        <div class="container-login100" style="background-image: url('assets/img/bg-01.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span padding class="login100-form-title p-b-41">
                    <h1>Completa el registro</h1>
                </span>
                <div class="login100-form validate-form p-b-33 p-t-5">
                    <div padding text-center *ngIf="fototomada==false">
                        <img class="profilepic" src="assets/img/profile.jpg" width="120" height="120" alt="seleccionar perfil">
                        <div>
                            <button (click)="updatePicture()" class="puntoActivoac" id="notification-button">
                                <div class="ion-icon">
                                    <ion-icon class="ion-icon" name="camera" color="light"></ion-icon>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div padding text-center class="profilepic" *ngIf="fototomada==true">
                        <img src="{{fotografia}}" width="120" height="120" alt="seleccionar perfil">
                    </div>
                    <ion-item>
                        <input [(ngModel)]="signup.genere" name="genere" #genere="ngModel" (click)="selcccionarGenero()" name="Genere" class="input100" type="text" name="Genere" placeholder="Selecciona tu género   ↓">
                        <span class="focus-input100" data-placeholder="&#xe854;"></span>
                    </ion-item>
                    <ion-item>
                        <div padding class="wrap-input100 validate-input" data-validate="direccion">
                            <input [(ngModel)]="signup.direccion" name="direccion" #direccion="ngModel" class="input100" type="text" name="direccion" placeholder="¿Cuál es tu dirección?" required>
                            <span class="focus-input100" data-placeholder="&#xe800;"></span>
                        </div>
                    </ion-item>
                    <ion-item>
                        <div padding class="wrap-input100 validate-input" data-validate="direccion">
                            <input [(ngModel)]="signup.ciudad" name="ciudad" #ciudad="ngModel" class="input100" type="text" name="ciudad" placeholder="¿Cuál es tu ciudad?" required>
                            <span class="focus-input100" data-placeholder="&#xe800;"></span>
                        </div>
                    </ion-item>
                    <ion-item>
                        <div class="wrap-input100 validate-input" data-validate="Contraseña">
                            <input [(ngModel)]="signup.PIN" name="password" class="input100" type="password" name="password" placeholder="Ingresa el PIN de verificación">
                            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                        </div>

                    </ion-item>

                    <div class="DivPadd" padding text-center>
                        <ion-button (click)="completarRegistro()" expand="full" shape="round">
                            <ion-icon color="light" name="beer"></ion-icon> ¡Salud!
                        </ion-button>
                    </div>
                </div>

            </div>
        </div>

    </div>



</ion-content>