// Ionic Variables and Theming. For more information, please see
// https://beta.ionicframework.com/docs/theming/
// The app direction is used to include
// rtl styles in your app. For more information, please see
// https://beta.ionicframework.com/docs/layout/rtl
// $app-direction: ltr;
// Ionic Colors
//@import "bootstrap";
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic provides eight layered colors
// that can be changed to theme an app. Additional colors can be
// added as well (see below). For more information, please see
// https://beta.ionicframework.com/docs/theming/advanced
// To easily create custom color palettes for your app’s UI,
// check out our color generator:
// https://beta.ionicframework.com/docs/theming/color-generator

/* @font-face {
    font-family: 'ProximaNovaSoftW03-Semibold';
    src: url('../assets/fonts/proxima-nova.ttf') format('truetype');
    //font-weight: normal;
    // font-style: normal;
}

$font-family-base: 'ProximaNovaSoftW03-Semibold';
ion-label,
ion-input,
ion-textarea,
ion-datetime,
ion-item {
    font-family: 'ProximaNovaSoftW03-Semibold' !important;
    //font-weight: 400;
    font-size: 20px;
}

.tabajo {
    font-family: 'ProximaNovaSoftW03-Semibold' !important;
    //font-weight: 300;
    font-size: 20px;
} */

:root {
    --ion-color-primary: #58291d;
    --ion-color-primary-rgb: 132, 60, 12;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #c75e18;
    --ion-color-primary-tint: #d1824e;
    --ion-color-secondary: #bf5940;
    --ion-color-secondary-rgb: 191, 89, 64;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;
    --ion-color-tertiary: #dfac9f;
    --ion-color-tertiary-rgb: 224, 172, 159;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #cc7a66;
    --ion-color-tertiary-tint: #d99c8c;
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}

// Additional Ionic Colors
// --------------------------------------------------
// In order to add colors to be used with Ionic components,
// the color should be added as a class with the convention `.ion-color-{COLOR}`
// where `{COLOR}` is the color to be used on the Ionic component
// and each variant is defined for the color. For more information, please see
// https://beta.ionicframework.com/docs/theming/advanced
.ion-color-favorite {
    --ion-color-base: #69bb7b;
    --ion-color-base-rgb: 105, 187, 123;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #5ca56c;
    --ion-color-tint: #78c288;
}

.ion-color-twitter {
    --ion-color-base: #1da1f4;
    --ion-color-base-rgb: 29, 161, 244;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #1a8ed7;
    --ion-color-tint: #34aaf5;
}

.ion-color-google {
    --ion-color-base: #dc4a38;
    --ion-color-base-rgb: 220, 74, 56;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #c24131;
    --ion-color-tint: #e05c4c;
}

.ion-color-vimeo {
    --ion-color-base: #23b6ea;
    --ion-color-base-rgb: 35, 182, 234;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #1fa0ce;
    --ion-color-tint: #39bdec;
}

.ion-color-facebook {
    --ion-color-base: #1877f2;
    --ion-color-base-rgb: 24, 119, 242;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #344e86;
    --ion-color-tint: #4f6aa2;
}

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the CSS variables found in Ionic's source files.
// To view all the possible Ionic variables, see:
// https://beta.ionicframework.com/docs/theming/css-variables#ionic-variables
:root {
    // TODO
    // $headings-font-weight: 300;
    --ion-headings-font-weight: 300;
    --ion-color-angular: #ac282b;
    --ion-color-communication: #8e8d93;
    --ion-color-tooling: #fe4c52;
    --ion-color-services: #fd8b2d;
    --ion-color-design: #fed035;
    --ion-color-workshop: #69bb7b;
    --ion-color-food: #3bc7c4;
    --ion-color-documentation: #b16be3;
    --ion-color-navigation: #58291d;
}

// App iOS Variables
// --------------------------------------------------
// iOS only CSS variables can go here
.ios {}

// App Material Design Variables
// --------------------------------------------------
// Material Design only CSS variables can go here
.md {
    // Use the primary color as the background for the toolbar
    --ion-toolbar-background: var(--ion-color-primary);
    // Change the color of the segment button text
    --ion-toolbar-color: #fff;
    // Change the color of the activated segment button text
    --ion-toolbar-color-activated: #fff;
}

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
// @import "ionic.theme.default";
// Fonts
// --------------------------------------------------
// Roboto font is used by default for Material Design. Noto sans
// is used by default for Windows.
// @import "roboto";