<ion-header no-border>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Promos en tu ubicación...</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content color="light">
    <ion-card class="mapa" color="success">
        <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>Tu ubicación</ion-label>
            <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>

        <ion-card-content #mapCanvas class="map-canvas">
            <!-- <div #mapCanvas class="map-canvas"></div> -->
        </ion-card-content>
    </ion-card>
    <ion-card color="danger">
        <ion-card-header>
            <ion-card-subtitle>Promoción Dinamita</ion-card-subtitle>
            <ion-card-title>Este es el titulo</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>



    <ion-card color="facebook">
        <ion-item href="#" class="activated">
            <ion-icon name="wifi" slot="start"></ion-icon>
            <ion-label>Card Link Item 1 .activated</ion-label>
        </ion-item>

        <ion-item href="#">
            <ion-icon name="wine" slot="start"></ion-icon>
            <ion-label>Card Link Item 2</ion-label>
        </ion-item>

        <ion-item class="activated">
            <ion-icon name="warning" slot="start"></ion-icon>
            <ion-label>Card Button Item 1 .activated</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>Card Button Item 2</ion-label>
        </ion-item>
    </ion-card>
    <!-- <div #mapCanvas class="map-canvas"></div> -->
</ion-content>