<ion-content>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('assets/img/bg-01.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span padding class="login100-form-title p-b-41">
            <h1>Inicio de Sesión</h1>
          </span>
                <form #loginForm="ngForm" novalidate class="login100-form validate-form p-b-33 p-t-5">
                    <ion-text color="light">Inicio de sesion</ion-text>

                    <div [hidden]='!accesoDenegado' text-center>
                        <ion-chip [hidden]='!accesoDenegado' slot="end" color="danger">
                            <ion-icon name="alert" color="danger"></ion-icon>
                            <ion-label color="danger">Datos de sesión incorrectos</ion-label>
                        </ion-chip>
                    </div>
                    <ion-list class="list-md">
                        <ion-item>
                            <div padding class="wrap-input100 validate-input" data-validate="Correo electrónico o celular">
                                <input class="input100" [(ngModel)]="login.username" name="username" type="email" #username="ngModel" placeholder="Email o celular" required>
                                <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                            </div>
                            <ion-chip slot="end" [hidden]="(username.valid || submitted == false)" color="danger">
                                <ion-icon name="alert" color="danger"></ion-icon>
                            </ion-chip>
                        </ion-item>
                        <ion-item>
                            <div class="wrap-input100 validate-input" data-validate="Contraseña">
                                <input class="input100" [(ngModel)]="login.password" name="password" type="password" #password="ngModel" placeholder="Contraseña" required>
                                <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                            </div>
                            <ion-chip slot="end" [hidden]="(password.valid || submitted == false)" color="danger">
                                <ion-icon name="alert" color="danger"></ion-icon>
                            </ion-chip>
                        </ion-item>
                        <div class="DivPadd" padding text-center>
                            <ion-button (click)="onLogin(loginForm)" expand="full" shape="round">
                                <ion-icon color="light" name="log-in"></ion-icon> Iniciar Sesión </ion-button>
                        </div>

                        <div text-center padding>
                            <h5>
                                O inicia sesión mediante:
                            </h5>

                        </div>
                        <ion-grid text-center padding>
                            <ion-row>
                                <ion-col size="3">

                                </ion-col>
                                <ion-col size="3">
                                    <ion-button class="boton-redes" fill="clear" color=facebook>
                                        <img src="assets/img/facebook.png" width="85%" alt="FACEBOOK">
                                    </ion-button>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-button class="boton-redes" fill="clear" color=light>
                                        <img src="assets/img/icon-google.png" alt="GOOGLE">
                                    </ion-button>
                                </ion-col>
                                <ion-col size="3">

                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <div text-center padding>
                            <h6>
                                ¿No eres miembro?
                                <ion-button fill="clear" (click)="onSignup()" type="submit">
                                    <ion-text color="secondary"> <strong>  Regístrate</strong></ion-text>
                                </ion-button>
                            </h6>
                        </div>
                    </ion-list>

                </form>
            </div>
        </div>
    </div>



</ion-content>