    .login-logo {
        padding: 20px 0;
        min-height: 200px;
        text-align: center;
    }
    
    .login-logo img {
        max-width: 150px;
    }
    
    .list {
        margin-bottom: 0;
        --background: #3881ff00;
    }
    
    .list-md {
        --background: #3881ff00;
    }
    
    .DivPadd {
        padding: 5%, 0%, 5%, 0%;
    }
    
    ion-item {
        --background: #3881ff00;
    }
    
    ion-list {
        --background: #3881ff00;
    }
    /*//////////////////////////////////////////////////////////////////
[ FONT ]*/
    
    @font-face {
        font-family: Linearicons-Free;
        src: url('assets/fonts/Linearicons-Free.ttf');
    }
    /*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
    
    * {
        margin: 0px;
        box-sizing: border-box;
    }
    
    body,
    html {
        height: 100%;
        font-family: Ubuntu-Regular, sans-serif;
    }
    /*---------------------------------------------*/
    
    a {
        font-size: 14px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
    }
    
    a:focus {
        outline: none !important;
    }
    
    a:hover {
        text-decoration: none;
        color: #fff;
    }
    /*---------------------------------------------*/
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0px;
    }
    
    p {
        font-size: 14px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
    }
    
    ul,
    li {
        margin: 0px;
        list-style-type: none;
    }
    /*---------------------------------------------*/
    
    input {
        outline: none;
        border: none;
    }
    
    textarea {
        outline: none;
        border: none;
    }
    
    textarea:focus,
    input:focus {
        border-color: transparent !important;
    }
    
    input:focus::-webkit-input-placeholder {
        color: transparent;
    }
    
    input:focus:-moz-placeholder {
        color: transparent;
    }
    
    input:focus::-moz-placeholder {
        color: transparent;
    }
    
    input:focus:-ms-input-placeholder {
        color: transparent;
    }
    
    textarea:focus::-webkit-input-placeholder {
        color: transparent;
    }
    
    textarea:focus:-moz-placeholder {
        color: transparent;
    }
    
    textarea:focus::-moz-placeholder {
        color: transparent;
    }
    
    textarea:focus:-ms-input-placeholder {
        color: transparent;
    }
    
    input::-webkit-input-placeholder {
        color: #555555;
    }
    
    input:-moz-placeholder {
        color: #555555;
    }
    
    input::-moz-placeholder {
        color: #555555;
    }
    
    input:-ms-input-placeholder {
        color: #555555;
    }
    
    textarea::-webkit-input-placeholder {
        color: #555555;
    }
    
    textarea:-moz-placeholder {
        color: #555555;
    }
    
    textarea::-moz-placeholder {
        color: #555555;
    }
    
    textarea:-ms-input-placeholder {
        color: #555555;
    }
    
    label {
        margin: 0;
        display: block;
    }
    /*---------------------------------------------*/
    
    button {
        outline: none !important;
        border: none;
        background: transparent;
    }
    
    button:hover {
        cursor: pointer;
    }
    
    iframe {
        border: none !important;
    }
    /*//////////////////////////////////////////////////////////////////
[ Utility ]*/
    
    .txt1 {
        font-family: Poppins-Regular;
        font-size: 13px;
        color: #e5e5e5;
        line-height: 1.5;
    }
    /*//////////////////////////////////////////////////////////////////
[ login ]*/
    
    .limiter {
        width: 100%;
        margin: 0 auto;
    }
    
    .container-login100 {
        width: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }
    
    .container-login100::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.65);
    }
    
    .wrap-login100 {
        width: 390px;
        border-radius: 17px;
        overflow: hidden;
        background: transparent;
    }
    /*------------------------------------------------------------------
[ Form ]*/
    
    .login100-form {
        width: 100%;
        border-radius: 17px;
        background-color: #fff;
    }
    
    .login100-form-logo {
        font-size: 60px;
        color: #333333;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 auto;
    }
    
    .login100-form-title {
        font-size: 28px;
        color: #fff;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        display: block;
    }
    /*------------------------------------------------------------------
[ Input ]*/
    
    .wrap-input100 {
        width: 100%;
        position: relative;
        border-bottom: 1px solid #e6e6e6;
        --background: #3881ff00;
        padding: 29px 0;
    }
    
    .input100 {
        font-size: 20px;
        color: #555555;
        line-height: 1.2;
        display: block;
        width: 100%;
        height: 50px;
        background: transparent;
        padding: 0 10px 0 80px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    /*---------------------------------------------*/
    
    .focus-input100 {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
    }
    
    .focus-input100::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0;
        height: 1px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        background: #58291d;
    }
    
    .focus-input100::after {
        font-family: Linearicons-Free;
        font-size: 18px;
        color: #999999;
        content: attr(data-placeholder);
        display: block;
        width: 100%;
        position: absolute;
        top: 40px;
        left: 35px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    
    .input100:focus {
        padding-left: 60px;
    }
    
    .input100:focus+.focus-input100::after {
        left: 23px;
        color: #58291d;
    }
    
    .input100:focus+.focus-input100::before {
        width: 100%;
    }
    
    .has-val.input100+.focus-input100::after {
        left: 23px;
        color: #58291d;
    }
    
    .has-val.input100+.focus-input100::before {
        width: 100%;
    }
    
    .has-val.input100 {
        padding-left: 60px;
    }
    /*------------------------------------------------------------------
[ Button ]*/
    
    .container-login100-form-btn {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .login100-form-btn {
        font-size: 18px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        min-width: 160px;
        height: 42px;
        border-radius: 21px;
        background: #58291d;
        position: relative;
        z-index: 1;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    
    .login100-form-btn::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 21px;
        background-color: #555555;
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    
    .login100-form-btn:hover {
        background-color: transparent;
    }
    
    .login100-form-btn:hover:before {
        opacity: 1;
    }
    /*------------------------------------------------------------------
[ Alert validate ]*/
    
    .validate-input {
        position: relative;
    }
    
    .alert-validate::before {
        content: attr(data-validate);
        position: absolute;
        max-width: 70%;
        background-color: #fff;
        border: 1px solid #c80000;
        border-radius: 2px;
        padding: 4px 25px 4px 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 10px;
        pointer-events: none;
        font-family: Ubuntu-Bold;
        color: #c80000;
        font-size: 13px;
        line-height: 1.4;
        text-align: left;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.4s;
        -o-transition: opacity 0.4s;
        -moz-transition: opacity 0.4s;
        transition: opacity 0.4s;
    }
    
    .alert-validate::after {
        content: "\f12a";
        font-family: FontAwesome;
        font-size: 16px;
        color: #c80000;
        display: block;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 15px;
    }
    
    .alert-validate:hover:before {
        visibility: visible;
        opacity: 1;
    }
    /*------------------------------------------------------------------
[ Button sign in with ]*/
    
    .btn-face,
    .btn-google {
        line-height: 1.2;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc((100% - 10px) / 2);
        height: 40px;
        border-radius: 3px;
        border: 1px solid #e6e6e6;
        background-color: #fff;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    
    .btn-face {
        color: #3b5998;
    }
    
    .btn-face i {
        font-size: 20px;
        margin-right: 10px;
        padding-bottom: 1px;
    }
    
    .btn-google {
        color: #555555;
    }
    
    .btn-google img {
        width: 19px;
        margin-right: 10px;
        padding-bottom: 1px;
    }
    
    .btn-face:hover,
    .btn-google:hover {
        border-color: #d33f8d;
    }
    
    .boton-redes {
        height: 50px;
    }
    
    @media (max-width: 992px) {
        .alert-validate::before {
            visibility: visible;
            opacity: 1;
        }
    }