.principal-image {
    height: 45%;
    padding: 33% 0px 0px 0px;
}

.boton {
    padding: 13% 0px 13% 0px;
}

ion-button {
    height: 60px;
}

.logo-coelsys {
    height: 11%;
    width: 11%;
}

.text-image {
    height: 69%;
    width: 69%;
}

.slide-title {
    padding: 0% 15% 1% 15%;
}

.textoBoton {
    font-size: 20px;
}


/* Style the video: 100% width and height to cover the entire window */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    background: rgba(0, 0, 0, 0.712);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
}