<ion-content color="light">
    <!-- The video -->
    <video autoplay muted loop id="myVideo">
    <source src="assets/video/TheBeersApp2.mp4" type="video/mp4">
  </video>

    <div class="content" text-center>
        <img src="assets/img/appicon.png" class="principal-image" />
        <div>
            <img src="assets/img/LogoTextLight.png" class="text-image" />
        </div>
        <h4 class="slide-title">
            <ion-text>
                La red cervecera en la palma de tu mano.
            </ion-text>
        </h4>
        <div class="boton">
            <ion-button (click)="login()" shape="round" color="success">
                <ion-text class="textoBoton" color="light" mode="ios">¡Entra ahora!</ion-text>
            </ion-button>
        </div>

    </div>
</ion-content>

<ion-footer no-border>
    <ion-toolbar color="dark">
        <div text-center>
            <ion-text color="tertiary">
                Por:
                <!-- <img src="assets/img/logoCoelsys.png" class="logo-coelsys" /> -->
                <ion-text color="light"> <strong> Coelsys S.A.S</strong> </ion-text>
            </ion-text>

        </div>


    </ion-toolbar>
</ion-footer>